{% load static %}

{% comment %} templates/base.html {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cloud Storage{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <!-- Navbar starts here -->
    <nav class="navbar">
        <div class="navbar-container">
            <!-- Hamburger Icon for Mobile -->
            <div class="hamburger" onclick="toggleMenu()">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>

            <!-- Logo/Brand Name -->
            <div class="logo">
                <a href="{% url 'storage:home' %}">CloudStorage</a>
            </div>

            <ul class="nav-links" id="nav-links">
                <li class="{% if request.resolver_match.url_name == 'storage:home' %}active{% endif %}">
                    <a href="{% url 'storage:home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                    <!-- Show Logout if user is logged in -->
                    <li>
                        <form action="{% url 'storage:logout' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" style="font-size: 18px;">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <!-- Show Login if user is not logged in -->
                    <li class="{% if request.resolver_match.url_name == 'storage:login' %}active{% endif %}">
                        <a href="{% url 'storage:login' %}">Login</a>
                    </li>
                {% endif %}
                
                <li class="{% if request.path == '/uploaded_files/' %}active{% endif %}"><a href="{% url 'storage:file_list' %}">Uploaded Files</a></li>
                <li class="{% if request.path == '/upload/' %}active{% endif %}"><a href="{% url 'storage:upload_file' %}">Upload Files</a></li>
            </ul>
        </div>
    </nav>

    <!-- Main content section -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Cloud Storage. All rights reserved.</p>
    </footer>

    <!-- JavaScript to toggle the hamburger menu -->
    <script>
        function toggleMenu() {
            const navLinks = document.getElementById("nav-links");
            navLinks.classList.toggle("active");
        }
    </script>
</body>
</html>


{% comment %} <li class="{% if request.path == '/logout/' %}active{% endif %}">
                    <a href="{% url 'storage:logout' %}">Logout</a>
                </li> {% endcomment %}