 
{% load filters %}

<!-- storage/templates/file_list.html -->

{% extends "base.html" %}

{% block content %}
  <h1>Your Files</h1>
  <h2>Total Storage Used: {{ storage_used|filesizeformat }}</h2>
  <a href="{% url 'storage:upload_file' %}">Upload a new file</a>
  <ul>
    {% for file in files %}
      <li>
        <a href="{% url 'storage:file_download' file.id %}">{{ file.name }}</a> 
        ({{ file.size|filesizeformat }}) - 
        Uploaded at {{ file.uploaded_at }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}

