{% extends "base.html" %}

{% comment %} templates/folder_detail.html {% endcomment %}

{% block content %}
  <h1>Files in "{{ folder.name }}"</h1>

  <h2>Upload a New File</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="folder_id" value="{{ folder.id }}">
    <button type="submit" name="upload_file">Upload File</button>
  </form>

  {% if storage_used|add:1 > MAX_STORAGE %}
    <p>You have reached your storage limit. Please delete some files before uploading more.</p>
  {% else %}
    <a href="{% url 'storage:upload_file' %}">Upload a new file</a>
  {% endif %}


  <h2>Files</h2>
  <ul>
    {% for file in files %}
      <li>{{ file.name }}</li>
    {% endfor %}
  </ul>

  <h2>Subfolders</h2>
  {% comment %} <ul>
    <li><a href="{% url 'storage:file_list' %}">Back to file list</a></li>
  </ul> {% endcomment %}
  <ul>
    {% for subfolder in subfolders %}
      <li><a href="{% url 'storage:folder_detail' subfolder.id %}">{{ subfolder.name }}</a></li>
    {% endfor %}
  </ul>

  {% comment %} <p>
    <a href="{% url 'storage:file_list' %}">Back to file list</a>
  </p> {% endcomment %}
{% endblock %}
