{% extends "base.html" %}

{% comment %} templates/login.html {% endcomment %}

{% block content %}
  <h1>Login</h1>

  <!-- Display errors if login fails -->
  {% if form.errors %}
    <div class="alert alert-danger">
      <ul>
        {% for field in form %}
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <!-- Login Form -->
  <form method="post" autocomplete="on">
    {% csrf_token %}

    <div class="form-group">
      <label for="id_username">Username:</label>
      {{ form.username }}
    </div>
    <br>
    <div class="form-group">
      <label for="id_password">Password:</label>
      {{ form.password }}
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>

  <p>
    Don't have an account? <a href="{% url 'storage:signup' %}">Sign up here</a>.
  </p>
  {% comment %} <p>
    <a href="{% url 'password_reset' %}">Forgot your password?</a>
  </p> {% endcomment %}
{% endblock %}
