{% extends "base.html" %}

{% comment %} templates/login.html {% endcomment %}

{% load socialaccount %}

{% block content %}
  <h1>Login</h1>

  <!-- Display errors if login fails -->
  {% if form.errors %}
    <div class="alert alert-danger">
      <ul>
        {% for field in form %}
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <!-- Login Form -->
  <form method="post" autocomplete="on">
    {% csrf_token %}

    <div class="form-group">
      <label for="id_email">Email:</label>
      {{ form.login }}
    </div>
    <br>
    <div class="form-group">
      <label for="id_password">Password:</label>
      {{ form.password }}
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>

  <p>Or login with:</p>
  {% comment %} <a href="{% url 'socialaccount_login' 'google' %}">Login with Google</a>
  <a href="{% provider_login_url 'google' %}">Login with Google</a>

  <a href="{% url 'socialaccount_login' 'facebook' %}" class="btn btn-primary">Facebook</a> {% endcomment %}

{% comment %} <a href="{% url 'socialaccount_login' 'google' %}">Login with Google</a> {% endcomment %}
  <a href="{% provider_login_url "google" %}" class="btn btn-outline-danger">Login with Google</a> 
  {% comment %} <a href="{% provider_login_url 'facebook' %}">Login with Facebook</a> {% endcomment %}
  
  <p>Don't have an account? <a href="{% url 'storage:signup' %}">Sign up here</a>.</p>
{% endblock %}
