{% extends "base.html" %}

{% comment %} templates/signup.html {% endcomment %}

{% block content %}
  <h1>Sign Up</h1>

  <!-- Display form errors if there are any -->
  {% if form.errors %}
    <div class="alert alert-danger">
      <ul>
        {% for field in form %}
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <!-- Signup Form -->
  <form method="post" autocomplete="on">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_username">Username:</label>
      {{ form.username }}
    </div>
    <br>
    <div class="form-group">
      <label for="id_email">Email:</label>
      {{ form.email }}
    </div>
    <br>
    <div class="form-group">
      <label for="id_password1">Password:</label>
      {{ form.password1 }}
    </div>
    <br>
    <div class="form-group">
      <label for="id_password2">Confirm Password:</label>
      {{ form.password2 }}
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>

  <p>
    Already have an account? <a href="{% url 'login' %}">Login here</a>.
  </p>
{% endblock %}
